template(name="spaces")
    .animated.fadeIn
        .page-header.position-relative
            a.btn.btn-info.pull-right#newSpaceButton
                i.ace-icon.fa.fa-plus
                | New space
            h1 {{total}} Spaces
        .clearfix
        +spacesList
        +newSpace


template(name="buildingSpaces")
    .animated.fadeIn
        .page-header.position-relative
            a.btn.btn-info.btn-sm#newSpaceButton
                i.ace-icon.fa.fa-plus
                | New space
        .clearfix
    +spacesList
template(name="spacesList")
    .widgets
        .row
            each spaces
                .col-xs-12.col-sm-6
                    .widget-box.widget-color-purple
                        .widget-header
                            h4
                                a(href="{{pathFor 'buildingSpaceTenants' _building_id=this.building_id _id=this._id}}") #{name}
                        .widget-body
                            p Content here

